
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu</h2>
@*@ViewBag.Message
@ViewBag.SheilaSays
@TempData["MikeSays"]
@Session["Steak"]
@Session["Barney"]*@

@Model.Count

<div>Description Price Quantity</div>
<div>Coffee</div><div>
    3 lbs. Columbian $15.00 1
    </div>
<div>Other Drinks</div>
<div>Food</div>
<div>Miscellaneous</div>
<input type = button value="Go to Cart"/>
<div>Total</div>

